.apartado{
    height: 90px;
}

/*CARRUSEL*/

.centrado {
    width: 100%;
    max-height: 90vh; /* Hasta 90% del alto visible */
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    color: white;
}

.carrusel{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 1;/*evitar sobreposicion del carrusel con la barra de navegación"*/
}

.carruseles{
    width: 300%;/*depende del num de imagenes*/
    height: 100%;
    display: flex;
}

.slider{
    width: calc(100%/3);/*carrusel para 4 imagenes*/
    height: 100%;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*que las imagenes no pierdan su calidad*/
}

.bl,.br{/*botones del carrusel*/
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transform: translate(0,-50%);
    transition: 0.5s ease;
    user-select: none;
}

.bl{
    left: 10px;
}

.br{
    right: 10px;
}

.bl:hover,.br:hover{
    background-color: black;
    color: white;
}

/*Mensaje despues del carrusel*/
section.s1 {
    background-color: rgb(0, 119, 255);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    height: auto; /* quitar altura fija */
    box-sizing: border-box;
}

/*Información resumida*/
.set{
    height: 1200px;
    width: 100%;
    background-color: rgb(233, 232, 232);
}

.set2{
    width: 100%;
    height: 100%;
}

.separador{
    height: 50%;
    display: flex;
    background-color: rgb(44, 191, 228);
}

.set .set2 .separador .imag{
    width: 50%;
    height: 100%;
}

.set .set2 .separador .imag img{
    width: 100%;
    height: 100%;
}

.set .set2 .separador .texto{
    width: 50%;
    height: 100%;
}

.set .set2 .separador .texto h1{
    padding: 3% 5%;
    text-align: center;
    font-size: 50px;
    font-family: "Lilita One", sans-serif;
}

.set .set2 .separador .texto p{
    padding: 20px 60px;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.set .set2 .separador .texto hr{
    background-color: rgb(255, 153, 0);
    height: 15px;
    width: 40%;
    border-radius: 15px;
    border: 2px solid rgb(255, 153, 0);
    margin: 0px 260px;
}

.separador2 {
    height: 50%;
    display: flex;
    background-color: rgb(187, 187, 187);
}

.carousel-wrapper,
.imag {
    width: 50%;
}

.carousel-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.carousel-wrapper h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Lilita One", sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

.carousel {
    height: 80%;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
    height: 14px;
}
.carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card h3 {
    text-align: center;
    margin-bottom: 90px;
    color: #0066b9;
    font-size: 180%;
}

.card p {
    text-align: center;
    font-size: 150%;
    color: #333;
}

.imag {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.extra{
    height: 1000px;
    width: 100%;
    background-color: rgb(233, 232, 232);
}

.separador3 {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    width: 100%;
}

/* Contenedor de texto */
.texto {
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

/* Título */
.texto h1 {
    padding: 2% 0%;
    text-align: center;
    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
}

/* Texto largo */
.texto-desktop {
    display: block;
    padding: 20px 60px;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Patua One", serif;
    font-weight: 400;
}

/* Texto corto oculto por defecto */
.texto-movil {
    display: none;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    font-family: "Patua One", serif;
}

/* Iconos */
.iconos {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.iconos ion-icon {
    font-size: 60px;
    transition: transform 0.2s ease;
}

.iconos ion-icon:hover {
    transform: scale(1.1);
}

.separador4 {
    min-height: 60vh;
    background-color: rgb(64, 87, 94);
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador4 .texto {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

/* Título */
.separador4 .texto h1 {
    padding: 2% 0%;
    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    color: white;
}

/* Contenedor de tarjetas */
.separador4 .anuncios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}

/* Tarjeta individual */
.separador4 .gallery {
    background-color: #E9E2D0;
    width: 200px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.separador4 .gallery:hover {
    background-color: #EFE6D6;
    transform: scale(1.05);
}

.separador4 .gallery img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.separador4 .gallery .desc {
    padding: 15px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
}



@media screen and (max-width: 2000px){
    .card {
        border: #0066b9 solid;
        width: 49%;
        flex: 0 0 auto;
        scroll-snap-align: start;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        min-width: 250px;
        transition: transform 0.3s ease;
        font-family: "Patua One", serif;
    }
}

@media screen and (max-width: 1800px){
    .card {
        border: #0066b9 solid;
        width: 30%;
        flex: 0 0 auto;
        scroll-snap-align: start;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        min-width: 250px;
        transition: transform 0.3s ease;
        font-family: "Patua One", serif;
    }
}

@media screen and (max-width: 768px){
    .apartado{
        display: none;
    }

    section.s1 {
        font-size: 1rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card {
        border: #0066b9 solid;
        width: 100%;
        flex: 0 0 auto;
        scroll-snap-align: start;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        min-width: 250px;
        transition: transform 0.3s ease;
        font-family: "Patua One", serif;
    }

    .separador {
        flex-direction: column;
        padding: 10px 15px;
    }

    .set .set2 .separador .imag,
    .set .set2 .separador .texto {
        width: 100%;
    }

    .set .set2 .separador .texto h1 {
        font-size: 32px;
        padding: 10px 5px;
    }

    .set .set2 .separador .texto p {
        padding: 15px 20px;
        font-size: 18px;
        padding-top: 20px;
    }

    .set .set2 .separador .texto hr {
        width: 60%;
        height: 10px;
        margin: 20px auto;
    }

    .separador2 {
        flex-direction: column;
        padding: 10px;
    }

    .carousel-wrapper,
    .imag {
        width: 100%;
        padding: 10px 0;
    }

    .carousel-wrapper h1 {
        font-size: 2rem;
    }

    .card h3 {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .card p {
        font-size: 1rem;
    }

    .imag {
        padding: 10px;
    }

    .imag img {
        max-height: 250px;
    }


    .texto h1 {
        font-size: 36px;
    }

    .texto-movil {
        font-size: 18px;
    }

    .iconos ion-icon {
        font-size: 32px;
    }



    .texto-desktop {
        display: none;
    }

    .texto-movil {
        display: block;
    }

    .separador4 {
        height: auto; /* Evita que se corte en móvil */
        padding: 20px 0;
    }

    .extra .set2 .separador4 .texto h1 {
        font-size: 28px;
        padding: 10px;
    }

    .extra .set2 .separador4 .texto .anuncios {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0 10px;
    }

    .extra .set2 .separador4 .texto .anuncios .gallery {
        width: 50%;
        margin: 20px 0;
        margin-left: 0;
    }

    .extra .set2 .separador4 .texto .anuncios .gallery img {
        height: auto;
    }

    .extra .set2 .separador4 .texto .anuncios .gallery .desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    section.s1 {
        font-size: 0.9rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

     .set .set2 .separador .texto h1 {
        font-size: 28px;
    }

    .set .set2 .separador .texto p {
        font-size: 16px;
        padding: 10px 15px;
        padding-top: 15px;
    }

    .carousel-wrapper h1 {
        font-size: 1.5rem;
    }

    .card h3 {
        font-size: 1.1rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .texto h1 {
        font-size: 28px;
    }

    .texto-movil {
        font-size: 16px;
        padding: 10px 20px;
    }

    .iconos ion-icon {
        font-size: 26px;
    }

    .iconos {
        gap: 15px;
    }
}
